{% extends "base.html" %}
{% load bootstrap5 %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-md-12">
            <form action="" method="get" class="form" id="main-form">
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Show data</button>
            </form>
        </div>
    </div>
    
    <table id="temperature-table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th scope="col">City</th>
                <th scope="col">Date</th>
                <th scope="col">Hour</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            {% for datarow in temperature_list %}
            <tr>
                <td>{{datarow.city}}</td>
                <td>{{datarow.date|date:"d.m.Y"}}</td>
                <td>{{datarow.date|date:"H:i"}}</td>
                <td>{{datarow.temperature_str}}</td>
            </tr>
            {% endfor %}
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                <a class="btn btn-light" href="?{% param_replace page=1 %}">First</a>
                <a class="btn btn-light" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <a class="btn btn-primary" href="?{% param_replace page=num %}"> {{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-light" href="?{% param_replace page=num %}"> {{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a class="btn btn-light" href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
                    <a class="btn btn-light" href="?{% param_replace page=paginator.num_pages %}">Last</a>
                {% endif %}
    
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}